@charset "UTF-8";

p{
  width:inherit;
}

.warning{
  color:red;
}

nav{
  width:80%;
}

header{
  width:80%;
}

body{
  font:18px Arial, sans-serif;
  background-image: url('../images/morocco.jpg');
  background-size: cover;
  background-attachment: fixed;
}

h1{
  font-size: 200%;
}

main{
  width:80%
  padding:40px;
  background-color: rgba(255,255,255,0.5)
}

footer{
  border:2px solid black;
  background-color: mistyrose;
  width:80%
  font-size: 80%;
  padding:20px;
}


li{
  list-style-type: square;
  list-style-position: outside;
  display: inline-block;
  margin:10px;
  padding:10px;
}


a:link{
  color:black;
  font-weight: bold;
  text-decoration: none;
}

a:visited{
  color:grey;
  font-weight: normal;
  text-decoration: none;
}

a:hover{
  font-weight: bold;
  text-decoration: none;
  background-color: yellow;
}

a:active{
  font-weight: bold;
  text-decoration: none;
  color:red;
}


section{
  border:2px solid black;
  padding:20px;
  margin:20px;
  background-color: mistyrose;
}

table{
  border:1px solid black;
  border-collapse: collapse;
  background-color: whitesmoke;
  width: 80%;
}

td{
  border:1px solid black;
  padding: 10px;
}
