@charset "UTF-8";

.cat{
  border: 1px solid black;
  padding:10px;
  margin: 10px;
  position: relative;
  left:200px;
}

.fixed{
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.monday{
  border:1px solid black;
  width: 400px;
  padding:20px;
  margin:20px;
  background-color: mistyrose;
  float:left;
}

.tuesday{
  border:1px solid black;
  width: 400px;
  padding:20px;
  margin:20px;
  background-color: aquamarine;
  float:left;
}

.wednesday{
  border:1px solid black;
  width: 400px;
  padding:20px;
  margin:20px;
  background-color: ivory;
  float:left;
}

.warning{
  color:red;
}
header{
  color:black;
  font-size: 48px;
  font-family: sans-serif;
}

#top{
  color:pink;
  font-size: 48px;
  font-family: sans-serif;
}
body{
  font:18px Arial, sans-serif;
  background-image: url('../images/morocco.jpg');
  background-size: cover;
  background-attachment: fixed;
}

h1{
  font-size: 200%;
}

main{
  width:80%
  padding:40px;
  background-color: rgba(255,255,255,0.5);
  overflow: auto;
}

footer{
  border:2px solid black;
  background-color: mistyrose;
  width:80%;
  font-size: 80%;
  padding:20px;
}


li{
  list-style-type: square;
  list-style-position: outside;
  display: inline-block;
  margin:10px;
  padding:5px;
}


a:link{
  color:black;
  font-weight: bold;
  text-decoration: none;
}

a:visited{
  color:grey;
  font-weight: normal;
  text-decoration: none;
}

a:hover{
  font-weight: bold;
  text-decoration: none;
  background-color: yellow;
  filter: box-shadow(5px 5px 4px #4444dd);
}

a:active{
  font-weight: bold;
  text-decoration: none;
  color:red;
}


section{
  border:2px solid black;
  padding:20px;
  margin:20px;
  background-color: mistyrose;
}

table{
  border:1px solid black;
  border-collapse: collapse;
  background-color: whitesmoke;
  width: 80%;
}

td{
  border:1px solid black;
  padding: 10px;
}
