@charset "UTF-8";

body{
  font:15px Arial, sans-serif;
}

h1{
  color: green;
  font-size: 200%;
}

main{
  background-color: pink
  width:100%
  border: 2px solid black;
  padding: 20px 40px;
}

section{
  border:2px solid black;
  padding:0px 30px;
  margin:20px;
  background-color: mistyrose;
}

footer{
  font-size: 80%;
}

p{
  width:inherit;
}
}
table{
  boarder:1px solid black
}

a:link{
  text-decoration: none;
  color:black;
}

a:visited{
  text-decoration: none;
  color:grey;
}

a:hover{
  text-decoration: none;
  font-weight: bold;
}

a:active{
  text-decoration: none;
  font-weight: bold;
  color:red;
}


li{
  list-style-type: square;
  list-style-position: outside;
  display: inline-block;
  padding: 0px 30px;
}
