@charset "UTF-8";

body{
  font:15px Arial, sans-serif;
}

h1{
  color: green;
  font-size: 200%;
}

footer{
  font-size: 80%;
}

}
table{
  boarder:1px solid black
}

a:link{
  text-decoration: none;
  color:black;
}

a:visited{
  text-decoration: none;
  color:grey;
}

a:hover{
  text-decoration: none;
  font-weight: bold;
}

a:active{
  text-decoration: none;
  font-weight: bold;
  color:red;
}


li{
  list-style-type: square;
  list-style-position: outside;
  display: inline-block;
  padding: 0px 30px;
}
section{
  border:2px solid black;
  padding:0px 30px;
  margin:20px;
  background-color: mistyrose;
}

body {
  background-image:url(../images/morocco.jpg);
  background-color: white;
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
}
